In [1]:
import os
import pandas as pd

In [2]:
dataset_file_path = 'D:\manualCDmanagement\codes\Projects\VMs\skl algorithms\Logistic Regression/00_datasets\phone'
file_name = 'mobile_phone_price_prediction.csv'
dataset = os.path.join(dataset_file_path, file_name)
df = pd.read_csv(dataset)

# to this:
columns_to_drop = ['Rating', 'Spec_score']
for column in df.columns:
    if column not in columns_to_drop:
        df[column], _ = pd.factorize(df[column])

In [3]:
df.head()

,Unnamed: 0,Name,Rating,Spec_score,No_of_sim,Ram,Battery,Display,Camera,External_Memory,Android_version,Price,company,Inbuilt_memory,fast_charging,Screen_resolution,Processor,Processor_name
0,0,0,4.65,68,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,4.20,63,1,1,1,1,1,1,1,1,0,1,1,1,1,1
2,2,2,4.30,75,1,0,2,0,2,0,2,2,0,2,0,2,2,1
3,3,3,4.10,73,1,0,3,1,3,0,2,2,0,2,-1,3,3,2
4,4,4,4.10,69,1,0,2,2,4,0,3,2,0,2,1,4,3,3

In [4]:
df.isnull().sum()

Unnamed: 0           0
Name                 0
Rating               0
Spec_score           0
No_of_sim            0
Ram                  0
Battery              0
Display              0
Camera               0
External_Memory      0
Android_version      0
Price                0
company              0
Inbuilt_memory       0
fast_charging        0
Screen_resolution    0
Processor            0
Processor_name       0
dtype: int64